<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Explore new places</p>
  </div>
</header>

<div class="container" id="locations">
  <div>
    <h1>Find a place near you</h1>
    <input ng-model="location"></input>
    <button class="btn btn-danger" ng-click="findLocations(location)">Search</button>
  </div>

  <div class="loading" ng-show="isLoading"><i class="fa fa-spinner fa-pulse"></i></div>

  <div id="test">
    <div class="col-md-4" ng-repeat="location in listOfLocations">       
      <div id="location" ng-click="locationDetails(location)">
        <h4>{{location.name}}</h4>
        <a href="{{location.url}}"><img src="{{location.image_url}}"></img></a>
      </div>
    </div>
  </div>
</div>

<!-- <div ng-repeat="product in products" ng-if="$index % 3 == 0" class="row">
    <div class="col-xs-4">{{products[$index]}}</div>
    <div class="col-xs-4">{{products[$index + 1]}}</div>
    <div class="col-xs-4">{{products[$index + 2]}}</div>
</div> -->

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 | <a href="https://github.com/dyosh">dyosh</a></p>
  </div>
</footer>
